@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rancho";
    background-color: beige;
}

img {
    height: 80px;
    width: 80px;
}

.menu {
    font-size: 20px;
    position: sticky;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
}

.menu > ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #7b5b3c; 
    display: block;
    padding: 20px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.menu-toggle img {
    width: 100%; 
    height: auto; 
}

.menu-toggle.hide {
    display: none; 
}

.has-sous-nav {
    position: relative;
}

.sous-nav {
    list-style: none;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    width: max-content;
}

.sous-nav li a:hover {
    background: #d1b598; 
}

.has-sous-nav:hover .sous-nav {
    display: block;
}

.accueil {
    margin: 40px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid #7b5b3c;
    display: flex;
}

.image {
    width: 50%; 
    margin: 10px; 
    text-align: center; 
}

.image img {
    width: 100%; 
    height: auto; 
}

.texte {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    text-align: justify;
    font-size: 15px;
    color: #d1b598;
}

.texte h1.titre {
    text-align: center;
    margin-bottom: 20px; 
    color: #7b5b3c;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #d1b598;
    background-color: white;
    padding: 20px; 
    border-top: 2px solid #d1b598; 
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image, .texte {
    flex-basis: 45%; 
}

.image img {
    width: 100%; 
}

.texte {
    text-align: justify;
    font-size: 16px; 
    color: #d1b598; 
}

.accueil {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
    text-align: center; 
}

.image {
    width: 100%; 
}

.texte {
    width: 100%;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}


@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none; 
    }
}

@media screen and (max-width: 768px) {

    .menu ul {
        display: none;
    }


    .menu ul.show {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
    }

    .menu ul.show li {
        margin-bottom: 10px;
    }

    /* Ajustement de la disposition des éléments */
    .element {
        flex-direction: column; 
    }

    .element .image,
    .element .texte {
        width: 100%; /* Assurez-vous que ces styles sont appliqués correctement */
    }
}
